<body>
<% include navbar/navbar_admin.ejs %>
    <h2> Add Season </h2>

    <form id = "insert" method = "post" action = "/add_season">
        Season:
        <input type = "text" name = "season" value = "">

        <br><br>

        <input type = "submit" value = "ADD">
    </form>
    
</body>